VITE_FIREBASE_API_KEY=YOUR_API_KEY
VITE_FIREBASE_AUTH_DOMAIN=lifesyncai-f9630.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=lifesyncai-f9630
VITE_FIREBASE_STORAGE_BUCKET=lifesyncai-f9630.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1095392109549
VITE_FIREBASE_APP_ID=1:1095392109549:web:c84124e94a7729d299bde4
